#app {
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

header {
    text-align: center;
    border: 3px dotted black;
}

main {
    min-height: 690px;
}

footer {
    text-align: center;
    background-color: red;
}

.title-container {
    border: 3px solid black;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    padding: 0 40px;
}

.inventory-item {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item-title {
    height: 50px;
}

.item-actions {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}